*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$blueColor: rgb(0, 217, 255);
$blackColor: rgb(36, 36, 36);
$whiteColor: rgb(248, 255, 255);
$shoesBoxColor: rgba(245, 245, 245, 0.9);
html{
    font-size: 18px;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    header{
        flex-basis: 70vh;
        background-image: url('bgi.png');
        background-size: cover;
        background-position: center right;
        position: relative;
        animation: changeBgColor 12s infinite;
        h1{
            text-align: center;
            position: absolute;
            top: 5rem;
            left: 3rem;
            font-size: 5rem;
            transform: rotate(-5deg);
            font-weight: bold;
        }
        span{
            animation: changeColor 12s infinite;
            text-shadow: 2px 1px 2px black;
        }
        .shoesBox{
            position: absolute;
            background-color: $shoesBoxColor;
            border: 10px $blueColor solid;
            bottom: 5%;
            right: 15%;
            width: 45vh;
            height: 45vh;
            border-radius: 50%;
            overflow: hidden;
            transition: .3s;
            animation: changeBorderColor 12s infinite;
            &:hover{
                transform: scale(1.1);
                border: 20px solid;
            }
            img{
                position: absolute;
                width: 170%;
                top:45%;
                left:50%;
                transform: translate(-50%, -50%) rotate(3deg);
                opacity: 0;
            }
            img:nth-of-type(1){
                animation: showImage 12s infinite;
            }
            img:nth-of-type(2){
                animation: showImage 12s 4s infinite;
            }
            img:nth-of-type(3){
                animation: showImage 12s 8s infinite;
            }
            
        }
        
    }
    main{
        .capabilities{
            display: flex;
            flex-direction: column;
            background-color: rgb(245, 245, 245);
            div{
                display: flex;
                overflow: hidden;
                p{
                    display: block;
                    flex-basis: 50%;
                    background-color: white;
                    font-size: 1.4rem;
                    text-align: center;
                    padding: 4rem 2rem;
                }
                img{
                    max-height: 45vh;
                    margin: 0 auto;
                    transition: .3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            div:nth-child(even){
                p{
                    order:2;
                }
            }
        }
    }
}


@keyframes changeBgColor {
    0%{
        background-color: $blueColor;
    }
    30%{
        background-color: $blueColor;
    }
    33%{
        background-color: $blackColor;
    }
    63%{
        background-color: $blackColor;
    }
    66%{
        background-color: $whiteColor;
    }
    96%{
        background-color: $whiteColor;
    }
    100%{
        background-color: $blueColor;
    }
}

@keyframes changeColor {
    0%{
        color: $blueColor;
    }
    30%{
        color: $blueColor;
    }
    33%{
        color: $blackColor;
    }
    63%{
        color: $blackColor;
    }
    66%{
        color: $whiteColor;
    }
    96%{
        color: $whiteColor;
    }
    100%{
        color: $blueColor;
    }
}
@keyframes changeBorderColor {
    0%{
        border-color: $blueColor;
    }
    30%{
        border-color: $blueColor;
    }
    33%{
        border-color: $blackColor;
    }
    63%{
        border-color: $blackColor;
        background-color: $shoesBoxColor;
    }
    66%{
        border-color: $whiteColor;
        background-color: darken($shoesBoxColor, 10%);
    }
    96%{
        border-color: $whiteColor;
        background-color: darken($shoesBoxColor, 10%);
    }
    100%{
        border-color: $blueColor;
        background-color: $shoesBoxColor;
    }
}

@keyframes showImage {
    0%{
        opacity: 0;
    }
    3%{
        opacity: 100;
    }
    27%{
        opacity: 100;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}